body {
    background: url("https://cdn.pixabay.com/photo/2015/11/27/20/28/florence-1066314_960_720.jpg") no-repeat center fixed;
    background-size: cover;
}

.hero{
    color: #fff;
    margin-top: 20%;
    text-align: center;
    font-size: 75px;
    letter-spacing: -.05em;
    line-height: 1.2em;
    font-family: 'Revalia', cursive;
}

.image{
    width: 400px;
    height: 200px;
}